{% extends 'base.html.twig' %}


{% block title %}Liste des TODOs{% endblock %}

{% block body %}
    <h2 class="page-header">Les TODOs</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Creation date</th>
        </tr>
        </thead>
        <tbody>

        {% for todo in todos %}
            <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>{{ todo.name }}</td>
                <td>{{ todo.category }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.priority }}</td>
                <td>{{ todo.dueDate|date('d-m-Y H:i:s') }}</td>
                <td>{{ todo.createDate|date('d-m-Y H:i:s') }}</td>
                <td><a href="{{ path('todo_details', {id : todo.id }) }}" class="btn btn-default">Afficher</a> </td>
                <td><a href="{{ path('todo_edit', {id : todo.id }) }}" class="btn btn-success">Editer</a> </td>
                <td><a href="{{ path('todo_delete', {id : todo.id }) }}" class="btn btn-warning">Supprimer</a> </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
